.mainpage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(180, 50%, 50%);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainpagelabel {
  margin-bottom: 10%;
  font-size: 5rem;
}
.mainpagebutton {
  margin: 0.5rem;
}
.inputroom {
  width: 14.5rem !important;
}
